<?xml version="1.0" encoding="GBK"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.kcl.uk/pgt/mdd/cw/Game"
			class = "uk.kcl.pgt.mdd.cw.game.GamePackage"
			genModel = "model/generated/Game.genmodel" />
	</extension>
</plugin>
